@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
}

.gentlenudge {
  @apply font-semibold;
  background-color: #a332fe;
  background-image: linear-gradient(-45deg, #a332fe, #20d2fe);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.div-color {
  background-color: #a332fe;
  background-image: linear-gradient(-45deg, #a332fe, #20d2fe);
  background-size: 100%;
  background-repeat: repeat;
}

@media only screen and (min-width: 1200px) {
  .btmnewsletter:before {
    content: "";
    position: absolute;
    background-image: url("/graybox.png");
    width: 100%;
    top: -11%;
    left: -28%;
    height: 25em;
    z-index: -1;
  }

  .btmnewsletter:after {
    content: "";
    position: absolute;
    background-image: url(/DotPatternbottom.png);
    width: 22em;
    top: -10%;
    right: -7%;
    height: 100%;
    z-index: -1;
  }
}
